body {
  background-color: #e2e2e2; }

.result-card {
  margin-top: 200px;
  width: 814px;
  height: 351px;
  font-size: 12px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.12) !important;
  max-width: 1140px;
  font-family: Nunito; }
  .result-card .card-seperator {
    border-top: thin solid #e9e9e9;
    margin: 5px 0; }
  .result-card .shortlist-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 14px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px, rgba(0, 0, 0, 0.24) 0 2px 2px;
    border-radius: 20px;
    background-color: #de0ba0;
    transition: all ease 0.2s;
    cursor: pointer; }
    .result-card .shortlist-button:hover {
      background-color: #c50087; }
    .result-card .shortlist-button .shortlist-icon {
      background: url(../Images/shortlist.svg);
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 10px; }
  .result-card .view-details-button {
    position: absolute;
    right: 20px;
    background: #bdea00;
    color: #333500;
    font-weight: bold;
    padding: 10px;
    bottom: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px, rgba(0, 0, 0, 0.24) 0 2px 2px;
    text-decoration: none;
    transition: all ease 0.2s; }
    .result-card .view-details-button:hover {
      background-color: #a8d100; }
  .result-card .low-availablity {
    position: absolute;
    margin-left: 20px;
    padding: 3px 5px;
    background-color: orange;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px; }
  .result-card .card-image img {
    height: 351px; }
  .result-card .col-lg-6 {
    padding: 0px; }
    .result-card .col-lg-6.card-content {
      background-color: #fff;
      overflow: hidden;
      position: relative;
      padding: 20px; }
      .result-card .col-lg-6.card-content .cardHeader {
        width: 100%;
        margin-bottom: 15px; }
        .result-card .col-lg-6.card-content .cardHeader .title {
          font-size: 22px;
          font-weight: bold;
          line-height: 20px; }
        .result-card .col-lg-6.card-content .cardHeader .subtitle {
          font-size: 14px; }
      .result-card .col-lg-6.card-content .supplier-container {
        overflow: auto; }
        .result-card .col-lg-6.card-content .supplier-container .suppliers {
          height: 24px; }
          .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo {
            height: 20px;
            overflow: hidden;
            width: 70px;
            float: left; }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.AIR {
              background-image: url("../Images/SupplierLogos/airtours.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.BAL {
              background-image: url("../Images/SupplierLogos/balkan.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.FCH {
              background-image: url("../Images/SupplierLogos/first-choice.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.SER {
              background-image: url("../Images/SupplierLogos/gambia-experience.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.MAN {
              background-image: url("../Images/SupplierLogos/manos.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.RED {
              background-image: url("../Images/SupplierLogos/red-sea.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.TCH {
              background-image: url("../Images/SupplierLogos/thomas-cook.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.OLY {
              background-image: url("../Images/SupplierLogos/olympic.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.TOP, .result-card .col-lg-6.card-content .supplier-container .suppliers .supplier-logo.TUI {
              background-image: url("../Images/SupplierLogos/tui.svg"); }
          .result-card .col-lg-6.card-content .supplier-container .suppliers div {
            float: left;
            margin-right: 20px; }
        .result-card .col-lg-6.card-content .supplier-container .ratings .supplier-rating {
          height: 18px;
          float: left; }
          .result-card .col-lg-6.card-content .supplier-container .ratings .supplier-rating .starRating {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url("../Images/StarRating/star-icon.svg");
            background-repeat: no-repeat; }
            .result-card .col-lg-6.card-content .supplier-container .ratings .supplier-rating .starRating.lit {
              background-image: url("../Images/StarRating/star-icon-enabled.svg");
              background-repeat: no-repeat; }
        .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating {
          float: left;
          margin-left: 10px;
          font-size: 10px; }
          .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating span {
            margin-left: 5px; }
          .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating .trip-advisor {
            width: 16px;
            height: 16px;
            float: left; }
            .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating .trip-advisor-logo {
              background-image: url("../Images/TripAdvisorRating/trip-advisor-logo.svg");
              background-repeat: no-repeat;
              width: 28px;
              height: 16px;
              float: left;
              margin: 0px 5px 0px 0px; }
            .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating .trip-advisor.full {
              background-image: url("../Images/TripAdvisorRating/trip-advisor-full.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating .trip-advisor.half {
              background-image: url("../Images/TripAdvisorRating/trip-advisor-half.svg"); }
            .result-card .col-lg-6.card-content .supplier-container .ratings .trip-advisor-rating .trip-advisor.empty {
              background-image: url("../Images/TripAdvisorRating/trip-advisor-empty.svg"); }
      .result-card .col-lg-6.card-content .result-breakdown {
        font-size: 14px;
        padding: 5px 0px; }
        .result-card .col-lg-6.card-content .result-breakdown div[class*="-info"] {
          margin-top: 3px; }
        .result-card .col-lg-6.card-content .result-breakdown .night-icon {
          background-image: url("../Images/CardBreakdown/nights-icon.svg"); }
        .result-card .col-lg-6.card-content .result-breakdown .flight-icon {
          background-image: url("../Images/CardBreakdown/flight-icon.svg"); }
        .result-card .col-lg-6.card-content .result-breakdown .board-icon {
          background-image: url("../Images/CardBreakdown/board-icon.svg"); }
        .result-card .col-lg-6.card-content .result-breakdown .room-icon {
          background-image: url("../Images/CardBreakdown/hotel-icon.svg"); }
        .result-card .col-lg-6.card-content .result-breakdown .handLuggageIcon {
          background-image: url("../Images/CardBreakdown/luggage-icon.svg"); }
        .result-card .col-lg-6.card-content .result-breakdown .breakdown-icon {
          width: 16px;
          height: 16px;
          float: left;
          margin-right: 10px; }
      .result-card .col-lg-6.card-content .price-breakdown .price-container .current-price {
        font-size: 36px;
        font-weight: bolder;
        line-height: 1;
        color: #de0ba0; }
      .result-card .col-lg-6.card-content .price-breakdown .price-container .was-price {
        font-size: 12px;
        color: black;
        text-decoration: line-through;
        font-weight: normal; }
